/* This css is for your custom css, it has been embedded into layout.html */
#videofeed { position: relative; width: 100%; min-width:250px; min-height:300px; padding-bottom: 25%; float: left; height: 0; border:1px solid black; background:white; }
#videofeed img { width: 100%; height: 100%; position: absolute; }
#videobox { padding-left:0px; }
.btn { margin:3px; }
#load { display:block; }
.jxgbox { width:100%; height:300px; }
#map { padding-left:0px; position: relative; width: 45%; min-width:460px; min-height:300px;  }
.btn { max-width:150px; }
.container { margin-top:0px; margin-left:10px; }
.row h1 { padding-left:0px !important; }
.row { padding:10px; padding-left:15px; }
#message { float:left; min-width:200px; }
.nav-link { padding-left:0px; }

