<html>
  <head>
   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   <script src='/static/js/new_ajax_helper.js'></script>
   <script type="text/javascript">
    google.charts.load('current', {'packages':['gauge']});
    google.charts.setOnLoadCallback(InitChart);
    intervalhandle = null;

    var options = {
        width: 400, height: 120,
        redFrom: 90, redTo: 100,
        yellowFrom:75, yellowTo: 90,
        minorTicks: 5
    };

    var chart = null;

    function InitChart() {

        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['Temp', {{data['Temp']}}],
          ['Humidity', {{data['Hum']}}]
        ]);

        chart = new google.visualization.Gauge(document.getElementById('chart_div'));

        chart.draw(data, options);

        intervalhandle = setInterval(getcurrentdata, 2000);
    }

    function getcurrentdata()
    {
        new_ajax_helper('/getcurrentdata',redrawchart);
    }

    function redrawchart(results)
    {
        console.log(results.Temp);
        data = google.visualization.arrayToDataTable([
               ['Label', 'Value'],
               ['Temp',results.Temp],
               ['Humidity',results.Hum]
               ]);
        chart.draw(data, options);
    }
    </script>
  </head>
  <body>

    <div id="chart_div" style="width: 400px; height: 120px;"></div>
  </body>
</html>
