{% extends "layout.html" %}
{% block content %}
    <div class="page-header" id="banner">
        <div class="row">
            <h1>Robot Dashboard</h1>
        </div>
    </div>
    <div class="row">
        <button id="load" type="button" class="btn btn-success" onclick="load_robot();">Load Robot</button>
       
    </div>   
    <div class="row" id="dashboard">
        <button id="shutdown" type="button" class="btn btn-danger" onclick="shutdown_robot();">Shutdown Robot</button>
        <button id="reconfig" type="button" class="btn btn-warning" onclick="new_ajax_helper('/reconfig_IMU');">Reconfigure IMU</button>
        <div id="videobox">
            <div id="videofeed"></div>
        </div>
        <div id="map"><div id="box" class="jxgbox"></div></div>
        <div id="message"></div>
    </div>
{% endblock %}
{% block scripts %}
    <script> robot_enabled = {{robot_enabled}}; </script>
    <script src="/static/js/dashboard.js"></script> 
    <script src="/static/js/mapping.js"></script> 
{% endblock %}