{% extends "layout.html" %}

<style>
#videofeed {
    position: relative;
    width: 45%;
    min-width:300px;
    min-height:300px;
    padding-bottom: 25%;
    float: left;
    height: 0;
    border:1px solid black;
}

#videofeed img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}

</style>

{% block content %}
    <h1>GrovePi Dashboard</h1>
    <p>
        <button type="button" class="btn btn-danger">Switch LED</button>
    </p>    
    <div style="max-width:640px; max-height:480px;">
        <div id="videofeed"><img src="{{ url_for('videofeed') }}" width="100%" height=""></div>
    </div>
    <div class="row">
        Testing
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}