{% extends "layout.html" %}
{% block content %}
<form id="thing">
    <label for="power">Power</label>
    <input type="number" id="power" name="power">
    <label for="degrees">Degrees</label>
    <input type="number" id="degrees" name="degrees">
    <label for="time">Time</label>
    <input type="number" id="time" name="time">
    <label for="action">Action</label>
    <input type="text" id="action" name="action">
</form>
<button onclick="control();">Go</button>
{% endblock %}
{% block scripts %}
<script>
    function control() {
        power = document.getElementById("power").value
        degrees = document.getElementById("degrees").value
        action = document.getElementById("action").value
        time = document.getElementById("time").value
        send_data("/finecontrol", {power: power, degrees: degrees, action: action, time: time})
    }
</script>
{% endblock %}