{% extends "layout.html" %}
{% block content %}
<h1 class="d-flex justify-content-center">Sign in</h1>

<div class="d-flex justify-content-lg-center">
    <form action="/" method="POST">
    <div class ="form-floating">
        <input type="text" class="form-control text-body" name="email" value="" required placeholder="email@email.com"><br>
        <label for="email" class="text-body">Email:</label>
    </div>
    <div class ="form-floating">
        <input type="password" class="form-control text-body" name="password" value="" required placeholder="password"><br>
        <label for="password" class="text-body">Password:</label>
    </div>
    <button type="submit" class="btn btn-primary">Next</button>
    </form>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}