{% extends "layout.html" %}

{% block content %}
{% for mission in data %}
<div class="card text-center" style="width: 100%;">
    <div class="card-header">{{mission["location"]}}</div>
    <div class="card-body">
        <p>Operator: {{mission["name"]}}</p>
        {% if mission["actions"] == 1 %}
            <p>1 action performed</p>
        {% else %}
            <p>{{mission["actions"]}} actions performed</p>
        {% endif %}
        <p>Duration: {{str(datetime.timedelta(seconds=int(mission["endTime"] or 1646886023)-int(mission["startTime"] or 1646886023)))}}</p>
        
    </div>
    <div class="card-footer">
        <small class="text-muted">Started on: {{datetime.datetime.fromtimestamp(mission["startTime"])}}</small>
    </div>
</div>
<br>
{% endfor %}
{% endblock %}