{% extends "layout.html" %}
{% block content %}
{% if data %}
    <h1>Mission at {{data[0]["location"] or "Unknown Location"}}</h1>
    <h6>Robot Operator: <a href='mailto:{{data[0]["email"]}}'>{{data[0]["name"]}}</a> Duration: {{str(datetime.timedelta(seconds=int(data[0]["endTime"] or 1646886023)-int(data[0]["startTime"] or 1646886023)))}}</h6>
    <h6>Started on {{datetime.datetime.fromtimestamp(data[0]["startTime"] or 0)}}. Ended on {{datetime.datetime.fromtimestamp(data[0]["endTime"] or 0)}}.</h6>
    {% if victimCount == 1 %}
        <h6>1 victim saved.</h6>
    {% else %}
        <h6>{{victimCount}} victims saved.</h6>
    {% endif %}
    <h4>Medical Notes</h4>
    <p>{{data[0]["notes"] or "No notes have been left for this mission."}}</p>
    <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#editmodal">Edit Details</button>
        <div class="modal fade" id="editmodal" tabindex="-1" aria-labelledby="creationpopup" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modify Mission</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form method="POST" class="form-group" id="formulaic">
                  <label for="location">Location:</label><br>
                  <input type="text" class="form-group" id="location" name="location" value='{{data[0]["location"]}}' required><br><br>
                  <label for="notes">Notes:</label><br>
                  <textarea class="form-control" id="notes" name="notes" required>{{data[0]["notes"]}}</textarea><br><br>
            </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save Details</button>
            </form>
              </div>
              </div>
          </div>
        </div>
    <h3>Actions:</h3>
    {% if data[0]["actionid"] %}
        {% for action in data %}
            <div class="card text-center" style="width: 100%;">
                <div class="card-body">
                    {% if action["actiontype"] == "move" %}
                        {% if action["actiondegrees"] == 0 %}
                            <p>Moved for {{round(action["actionduration"],2)}} seconds with a power of {{action["actionpower"]}}. </p>
                        {% else %}
                            <p>Turned {{action["actiondegrees"]}} degrees with a power of {{action["actionpower"]}}. </p>
                        {% endif %}
                    {% elif action["actiontype"] == "victim" %}
                        <p>Detected a victim, and deployed a rescue package at coordinates ({{action["actionpower"]}},{{action["actiondegrees"]}})</p>
                    {% elif action["actiontype"] == "returnCommand" %}
                        <p>Robot was instructed to return to the start. </p>
                    {% else %}
                        <p>{{data["actiontype"]}}</p>
                    {% endif %}
                </div>
            </div>
            <br>
        {% endfor %}
    {% else %}
        <p>No actions have been performed in this mission.</p>
    {% endif %}
{% else %}
    <h1>There is no mission.</h1>
{% endif %}
{% endblock %}